<footer class="footer">
    <div class="container d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-between pe-lg-6">
            <a href="#"><img src="../assets/images/Logo.png" alt="Triangle English"></a>
            <div class="text-gray-03 text-center text-lg-start">
                <p class="fs-6">Try and Go</p>
                <p class="fs-6">開啟英語之門，邁向精通之路</p>
            </div>
            <div class="d-flex gap-5">
                <a href="#"><img src="../assets/images/facebook.svg" alt="facebook" class="p-3"></a>
                <a href="#"><img src="../assets/images/instagram.svg" alt="instagram" class="p-3"></a>
                <a href="#"><img src="../assets/images/x.svg" alt="x" class="p-3"></a>
            </div>
        </div>
        <div class="d-none d-lg-flex justify-content-between row w-100">
            <div class="sub-nav col">
                <h6>首頁</h6>
                <ul class="list-unstyled">
                    <li><a href="#">精選課程</a></li>
                    <li><a href="#">熱門課程</a></li>
                </ul>
            </div>
            <div class="sub-nav col">
                <h6>尋找課程</h6>
                <div class="d-flex gap-3">
                    <ul class="list-unstyled">
                        <li><a href="goods.html">生活</a></li>
                        <li><a href="goods.html">旅遊</a></li>
                        <li><a href="goods.html">檢定</a></li>
                        <li><a href="goods.html">商務</a></li>
                        <li><a href="goods.html">時事</a></li>
                        <li><a href="goods.html">學術</a></li>
                    </ul>
                    <ul class="list-unstyled">
                        <li><a href="goods.html">影音</a></li>
                        <li><a href="goods.html">直播</a></li>
                        <li><a href="goods.html">演講</a></li>
                        <li><a href="goods.html">說明會</a></li>
                    </ul>
                </div>
                
            </div>
            <div class="sub-nav col">
                <h6>FAQ</h6>
                <ul class="list-unstyled">
                    <li><a href="FAQ.html">如何在平台學習</a></li>
                    <li><a href="FAQ.html">如何在平台開課</a></li>
                    <li><a href="FAQ.html">如何購買課程</a></li>
                    <li><a href="FAQ.html">課程相關</a></li>
                    <li><a href="FAQ.html">帳號相關</a></li>
                    <li><a href="FAQ.html">通知相關</a></li>
                </ul>
            </div>
            <div class="sub-nav col">
                <h6>關於</h6>
                <ul class="list-unstyled">
                    <li><a href="about.html">品牌故事</a></li>
                    <li><a href="about.html">平台理念</a></li>
                    <li><a href="about.html">設計團隊</a></li>
                    <li><a href="about.html">隱私權政策</a></li>
                    <li><a href="about.html">使用者條款</a></li>
                </ul>
            </div>
            <div class="sub-nav col">
                <h6>聯絡我們</h6>
                <ul class="list-unstyled">
                    <li><a href="contact.html">線上課服</a></li>
                    <li><a href="contact.html">企業合作</a></li>
                    <li><a href="contact.html">媒體連繫</a></li>
                    <li><a href="contact.html">校園方案</a></li>
                </ul>
        </div>
    </div>
</footer>