<nav class="navbar navbar-expand-lg">
    <div class="container d-flex justufy-content-between align-items-center py-3">
        <a href="index.html" class="navbar-brand"><img src="/assets/images/Logo.png" alt="Triangle English"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarToggler">
                <ul class="navbar-nav align-items-center fs-4 gap-3">
                    <li class="nav-item"><a href="index.html" class="nav-link active" aria-current="page">首頁</a></li>
                    <li class="nav-item"><a href="goods.html" class="nav-link">尋找課程</a></li>
                    <li class="nav-item"><a href="faq.html" class="nav-link">FAQ</a></li>
                    <li class="nav-item"><a href="about.html" class="nav-link">關於</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">聯絡我們</a></li>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="material-icons-outlined">
                            close
                            </span>
                      </button>
                </ul>    
        </div>
        <div class="d-none d-lg-flex gap-4">
            <a href="#"><span class="material-icons-outlined">
                shopping_bag
                </span></a>
            <a href="#"><span class="material-icons-outlined">
                account_circle
                </span></a>
        </div>
    </div>
</nav>
