<!DOCTYPE html>
<html lang="zh">
  <head>
    <%- include('./layout/head'); -%>
    <title>Triangle English | 線上英文學習平台</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
      <section class="cards container">
        <div class="d-flex justify-content-between"><h1 class="text-gray-01">生活英文</h1><a href="goods.html"><span class="material-icons-outlined forward">
          chevron_right
          </span></a></div>
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="../assets/images/goods- (1).png" class="card-img-top" alt="course-name">
                <div class="card-body">
                  <h3 class="card-title text-gray-01">Card title</h3>
                  <div class="tags text-gray-03"><span></span><span></span></div>
                  <p class="card-text text-gray-03">李欣喜 線上英語導師</p>
                  <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center text-gray-03 fs-3">
                      <span class="material-icons text-brand-01">
                      kid_star
                      </span><span class="text-gray-03">4.8(1579)</span>
                    </div>
                      <span class="fs-3 text-gray-01">NT$1,690</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="text-center"><button type="button" data-bs-toggle="button" class="btn btn-outline-brand-01 fs-3 mx-0">查看更多課程</button></div>
      </section>
      <section class="recommend"></section>
      <section class="call-to-action text-center">
        <div class="container">
          <p class="fs-2 text-gray-01">現在加入 Triangle 學習!</p>
          <button type="button" data-bs-toggle="button" class="btn btn-brand-01 fs-3">立即註冊</button>
        </div>
      </section>
    </main>



    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
